.preBox {
    cursor: pointer;
    min-height: 360px;
}
.Myprecard-body{
    border-radius: 0px 0px 5px 5px;
    background-color: black;
}
.preBox img{
    height: 200px;
    width: 100%;
}
/*  */
@media (max-width:768px){
    .preBox {
        min-width: 90%;
        min-height: 400px;
    }
}
@media (max-width:550px){
    .preBox {
        min-height: 300px;
    }
}
@media (max-width:350px){
    .preBox {
        min-height: 200px;
    }
}